body {
    background-color: rgb(66, 66, 66);
    margin: 0;
}
    .block_body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: 'Arial Narrow', Arial, sans-serif;
        padding: 10%;
    }

        h1 { 
            font-size: 2.8em;
            color: white;
            margin: 0;
        }
            .fun {
                font-weight: bold;
                color: rgb(255, 100, 79);
                font-size: 1.5em;
            }

            h1:hover{
                animation-name: h1effect;
                animation-duration: 2s;
                color: rgb(255, 100, 79);
            }
              
                @keyframes h1effect {
                    0%   { transform: translateY(0); }
                    50%  { transform: translateY(-50px); }
                    100% { transform: translateY(0); }
                }

        form {  
            display: flex;
            flex-direction: column;
            background-color: rgb(33, 33, 33);
            color: white;
            padding: 4%;
            border-radius: 4px;
            box-shadow: 3px 3px rgb(73, 68, 67);
        }
            form label {
                margin : 8px 0;
            }
            
            #nom {
                margin-top: 0;
            }

            form input {
                height: 30px;
                width: 275px;
                margin-bottom: 5px;
            }

            button {
                height: 30px; 
                background-color: rgb(255, 100, 79);
                color: white;
                font-weight: 500;
                border: none;
                margin-top: 25px;
            }

@media (max-width: 768px) 
{
    .block_body {
        flex-direction: column;
    }
}